body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  margin-left: 4rem;
}

.nav-bar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 4rem;
}

.page {
  position: relative;
}

.hero {
  margin: 0;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left left left left left left left left left right right right";
}

.left-hero {
  grid-area: left;
  background-color: white;
}

.right-hero {
  grid-area: right;
  background-color: #efc81a;
  z-index: 0;
}

.left-hero-landing {
  grid-area: left;
  background-color: #fff5ec;
}

.left-hero-landing-home {
  grid-area: left;
  background-color: white;
}

.right-hero-landing {
  grid-area: right;
  background-color: #efc81a;
}

.left-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
  height: 100%;
}

.hero-title {
  color: #2e266f;
}

.hero-title-bottom {
  margin-top: -1rem;
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.hero-input {
  width: 22rem;
  height: 3rem;
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #efefef;
  color: black;
  padding: 0 3rem;
}

.hero-input::placeholder {
  color: #bdbdbd;
}

.hero-input:focus {
  border: 1px solid yellow;
}

.pop {
  width: 100%;
  /* padding-bottom: 1rem; */
  position: relative;
  background-color: #fff5ec;
  /* margin-top: -10rem; */
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.pop-landing {
  width: 100%;
  /* padding-bottom: 1rem; */
  position: relative;
  /* background-color: #fff5ec; */
  margin-top: -10rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.pop-landing2 {
  width: 100%;
  /* padding-bottom: 1rem; */
  position: relative;
  background-color: #fff5ec;
  /* margin-top: -10rem;
  padding-bottom: 2rem;
  padding-top: 4rem; */
}

.pop-home {
  width: 100%;
  /* padding-bottom: 1rem; */
  position: relative;
  background-color: white;
}

.pop2 {
  width: 100%;
  position: relative;
  background-color: white;
  margin-top: -10rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.popular-img-container {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left middle right";
}

.popular-img-container2 {
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left middle right";
}

.pop-img-container {
  grid-area: "left";
  position: relative;
  z-index: 100;
}

.new-recipe-container {
  grid-area: "middle";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15rem;
  margin-top: 30px;
}

.new-recipe-container-landing {
  grid-area: "middle";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.new-recipe-container2 {
  grid-area: "middle";
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20rem;
  margin-top: 30px;
}

.middle-popular-container {
  grid-area: "right";
}

.pizza-text {
  position: absolute;
  top: 14rem;
  left: 2rem;
  z-index: 110;
  color: white;
  display: flex;
  flex-direction: column;
}

.loginflex {
  display: flex;
  /* height: 150vh; */
}

.left-container {
  /* height: 100%; */
  width: 50%;
}

.right-container {
  /* height: 100%; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Yellowlayer {
  background-color: #efc81a;
  height: 190.1vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 190.1vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Head {
  color: #efc81a;
  margin-bottom: -13px;
}

.title {
  color: grey;
  opacity: 60%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: center;
}

.parentline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 70%;
}

.line1 {
  background-color: grey;
  height: 1px;
  width: 160px;
  opacity: 15%;
  margin: 3px 0;
}

.line {
  background-color: grey;
  height: 1px;
  width: 70%;
  opacity: 15%;
}

.mail {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 5px;
}

.password {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 20px;
}

.border {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
}

.border:active {
  border-color: #efc81a;
}

.border:hover {
  border: 2px solid #1f4aae;
}

.checkbox {
  display: flex;
  width: 78%;
  color: #696f79;
  font-weight: 500;
  margin-top: 10px;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.forgot {
  margin-left: 325px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  text-decoration: none;
}

.signup {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.signreg {
  color: #efc81a;
  text-decoration: none;
}

.signreg:hover {
  text-decoration: underline;
}

.login {
  border: 1px solid #efc81a;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.login:hover {
  border: 2px solid #1f4aae;
}

/* INI UNTUK REGISTER */

.registerlex {
  display: flex;
}

.left-container2 {
  height: 100vh;
  width: 50%;
}

.right-container2 {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Yellowlayer2 {
  background-color: #efc81a;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;
}

.Head2 {
  color: #efc81a;
  margin-bottom: -13px;
}

.title2 {
  color: grey;
  opacity: 60%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.line2 {
  background-color: grey;
  height: 1px;
  width: 70%;
  opacity: 15%;
}

.name {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}

.email {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.phone {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createpass {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createnew {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.border2 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 30px;
  width: 60%;
}

.border2:active {
  border-color: #efc81a;
}

.border2:hover {
  border: 2px solid #1f4aae;
}

.forgot {
  margin-left: 325px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.signup {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.login:hover {
  border: 2px solid #1f4aae;
}

.resetpassword {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.resetpass {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 20px;
}

.line3 {
  background-color: black;
  height: 1px;
  width: 77%;
  opacity: 3%;
}

.cnp {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 20px;
}

.resetp {
  border: 1px solid #efc81a;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.resetp:hover {
  border: 2px solid #1f4aae;
}

.nav-link-active {
  text-decoration: underline;
  color: red;
  background-color: red;
}

.forp {
  width: 50%;
  color: #8692a6;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: -55px;
  text-align: center;
}

.header-popular-container {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.title-pop {
  margin-left: 10px;
  color: #3f3a3a;
  font-weight: 500;
  size: 48px;
}

.ract {
  width: 1rem;
  height: 4rem;
  background-color: #efc81a;
}

.left-recepe-yellow {
  background-color: #efc81a;
  height: 24rem;
  width: 16rem;
}

.left-recepe-yellow2 {
  border: 2px solid #efc81a;
  height: 24rem;
  width: 20rem;
  border-radius: 7px;
  margin: 4rem 0 0 11rem;
}

.ramen-text {
  margin-top: -1.4rem;
}

.line-ramen {
  background-color: grey;
  height: 1px;
  width: 65px;
  margin-top: -10px;
}

.ramen-text-p {
  margin-top: -1rem;
}

.p-color {
  color: #3f3a3a;
}

.new-recipe-button {
  background-color: #efc81a;
  padding: 0.5rem 1rem;
  border: 2px solid #efc81a;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.new-recipe-button:hover {
  background-color: white;
  color: #efc81a;
}

.right-recipe {
  margin-right: 50px;
}

.title-pore {
  margin-left: 10px;
  color: #3f3a3a;
  font-weight: 500;
  size: 48px;
  margin-top: 70px;
}

.ract2 {
  width: 1rem;
  height: 4rem;
  background-color: #efc81a;
  margin-top: 160px;
  margin-left: 80px;
}

.title-pop2 {
  margin-left: 110px;
  color: #3f3a3a;
  font-weight: 500;
  size: 48px;
  margin-top: -55px;
}

.popre {
  margin: 2rem 5rem;
  display: flex;
  gap: 2rem;
}

.soup-text {
  position: absolute;
  top: 36.5rem;
  left: 6rem;
  z-index: 110;
  color: #3f3a3a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.bomb-text {
  position: absolute;
  top: 36.5rem;
  left: 30rem;
  z-index: 110;
  color: #3f3a3a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.banana-text {
  position: absolute;
  top: 36.5rem;
  left: 53.5rem;
  z-index: 110;
  color: #3f3a3a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: x-large;
}

.cake-text {
  position: absolute;
  color: #3f3a3a;
  font-weight: 500;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  top: 62rem;
  left: 6rem;
}

.salmon-text {
  position: absolute;
  color: #3f3a3a;
  font-weight: 500;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  top: 62rem;
  left: 30rem;
}

.indian-text {
  position: absolute;
  color: #3f3a3a;
  font-weight: 500;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  top: 62rem;
  left: 53.5rem;
}

.footer {
  background-color: #efc81a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-text {
  margin: 2rem 0;
}

.footer-text-first {
  font-size: 40px;
  color: #2e266f;
}

.footer-text-second {
  font-size: 13px;
  margin-top: -2rem;
  color: #707070;
  text-align: center;
}

.right-recipe2 {
  margin-right: -22rem;
  margin-top: -4rem;
}

.footer3 {
  color: rgba(112, 112, 112, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 60%;
  font-size: 14px;
  padding: 1rem 0;
}

.footer3 a {
  text-decoration: none;
  color: #707070;
}

.detail-title {
  text-align: center;
  padding-top: 10rem;
  color: rgba(46, 38, 111, 1);
}

.pict-container {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}
