body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  margin: 0;
  /* height: 100vh; */
  position: relative;
  background-color: #efc81a;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left left left left left left left left left right right right";
}

.left-hero {
  grid-area: left;
  background-color: white;
}

.left-hero-landing {
  grid-area: left;
  background-color: #fff5ec;
}

.right-hero-landing {
  grid-area: right;
}

.left-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
  height: 100%;
}

.hero-title {
  color: #2e266f;
}

.hero-title-bottom {
  margin-top: -1rem;
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.hero-input {
  width: 22rem;
  height: 3rem;
  border: 1px solid #efefef;
  border-radius: 5px;
  background-color: #efefef;
  color: black;
  padding: 0 3rem;
}

.hero-input::placeholder {
  color: #bdbdbd;
}

.hero-input:focus {
  border: 1px solid yellow;
}

.pop {
  height: 100vh;
  width: 100%;
}

.loginflex {
  display: flex;
  /* height: 150vh; */
}

.left-container {
  /* height: 100%; */
  width: 50%;
}

.right-container {
  /* height: 100%; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Yellowlayer {
  background-color: #efc81a;
  height: 190.1vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 190.1vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Head {
  color: #efc81a;
  margin-bottom: -13px;
}

.title {
  color: grey;
  opacity: 60%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  justify-content: center;
}

.parentline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  width: 70%;
}

.line1 {
  background-color: grey;
  height: 1px;
  width: 160px;
  opacity: 15%;
  margin: 3px 0;
}

.line {
  background-color: grey;
  height: 1px;
  width: 70%;
  opacity: 15%;
}

.mail {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 5px;
}

.password {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 20px;
}

.border {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
}

.border:active {
  border-color: #efc81a;
}

.border:hover {
  border: 2px solid #1f4aae;
}

.checkbox {
  display: flex;
  width: 78%;
  color: #696f79;
  font-weight: 500;
  margin-top: 10px;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.forgot {
  margin-left: 325px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  text-decoration: none;
}

.signup {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.signreg {
  color: #efc81a;
  text-decoration: none;
}

.signreg:hover {
  text-decoration: underline;
}

.login {
  border: 1px solid #efc81a;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.login:hover {
  border: 2px solid #1f4aae;
}

/* INI UNTUK REGISTER */

.registerlex {
  display: flex;
}

.left-container2 {
  height: 100vh;
  width: 50%;
}

.right-container2 {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Yellowlayer2 {
  background-color: #efc81a;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 70%;
}

.Head2 {
  color: #efc81a;
  margin-bottom: -13px;
}

.title2 {
  color: grey;
  opacity: 60%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.line2 {
  background-color: grey;
  height: 1px;
  width: 70%;
  opacity: 15%;
}

.name {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
}

.email {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.phone {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createpass {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createnew {
  width: 70%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.border2 {
  border: 1px solid black;
  border-radius: 6px;
  padding: 30px;
  width: 60%;
}

.border2:active {
  border-color: #efc81a;
}

.border2:hover {
  border: 2px solid #1f4aae;
}

/* .checkbox {
  display: flex;
  width: 70%;
  color: #696F79;
  font-weight: 500;
 } */

/* .checkbox input {
   margin-right: 15px;
 } */

.forgot {
  margin-left: 325px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.signup {
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
}

.login:hover {
  border: 2px solid #1f4aae;
}

.resetpassword {
  border: 1px solid black;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.resetpass {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 20px;
}

.line3 {
  background-color: black;
  height: 1px;
  width: 77%;
  opacity: 3%;
}

.cnp {
  width: 77%;
  color: #696f79;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 20px;
}

.resetp {
  border: 1px solid #efc81a;
  border-radius: 6px;
  padding: 0px 30px;
  width: 426px;
  height: 64px;
  background-color: #efc81a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

.resetp:hover {
  border: 2px solid #1f4aae;
}

.nav-link-active {
  text-decoration: underline;
  color: red;
  background-color: red;
}

.forp {
  width: 50%;
  color: #8692a6;
  font-weight: 400;
  margin-bottom: 32px;
  margin-top: -55px;
  text-align: center;
}
